.resumePage{
    margin: 0 auto;
    width: 70%;
    background-color: #d5FFFF;
    border-radius: 15px;
    padding: 2px;
    margin-top: 200px;

}

.resumeText p {

    font-family: 'Oswald';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    color: black;
    width: 15ch;

   
    margin: 30px;
    text-transform: uppercase;

}

.lookTag p{
    font-family: 'Oswald';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    color: black;
    width: 30ch;
    border-right: 4px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(13, end), blink-caret 0.5s step-end infinite alternate;
    margin-left: 30px;
    margin-bottom: 10px;

}



@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.resumeIMG{
    width: 70%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;

}

.LogoSide{
    width: 30%;
}

.mainFooter{
    display: flex;
    flex-direction:row ;
    gap: 150px;


    padding: 150px;
    background-color: #190061;
    border-radius: 10px;
}

.footerLogo{
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.legalRights{
    font-size: 1.6vh;
    opacity: 80%;
    margin-top: 9px;
}

.bold{
font-size: 1.6vh;
font-weight: 700;
}

.madeBy{
    font-size: 1.6vh;
    margin-top: 7px;
}

.pageTitle{
    text-decoration: underline;
    font-size: 1.85vh;
    
}

.redirectColumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.redirectText{
    font-size: 1.85vh;
    color: white;
}

.redirectText{

    font-size: 1.85vh;
    color: white;
    --b: 0.1em;   /* the thickness of the line */
    --c: #33b4df; /* the color */
    

    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,rgb(255, 254, 254) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .5s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .button:hover {
    --_p: 100%;
    --_s: .3s;
  }



  @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
  }


  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.learnMore {
      width: 12rem;
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: black;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: blue;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: white;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
          background: white;
          transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: white;
      }
    }
  }
  

    
    #container {
      grid-area: main;
      align-self: center;
      justify-self: center;
    }


  
 
      .redirectText:hover {
        --_p: 100%;
        color: var(--c);
      }

      .contactText{
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin-left: 25px;
        color: white;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.85vh;
        text-decoration: underline;
      }

      .Text{
        margin-bottom: 30px;
        text-decoration: underline;
        font-size: 1.85vh;
      }