li{
list-style: none;
text-decoration: none;
}

a{
  text-decoration: none !important;
}



.underConstruction{
width: 100%;
background-color: #190061;
padding: 12px ;
text-align: center;
}

.constructionText{
  font-family: "Days One" !important;
}

.biggerBox{
width: 45%;
left: 50%;
transform: translateX(-50%);
top: 0;
position: fixed;
@media (max-width: 520px) {
      
  width: 70%
}


}

.box{
  background-color: #240090;
  padding: 10px ;
  border-radius: 15px;
  border: 0.5px solid black;
  height: 40px;
  margin-top: 70px;
}

.myLogo{
  position: fixed;
  height: 45px;
  margin-left: 10px;
  
  @media (max-width:768px){
    position: fixed;
    height: 40px;
    margin-left: 10px;
    }
  
    @media (max-width: 520px) {
      height: 40px;
    }
  }


.textboxDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:root{
  --be: #242526;
  --bg-accent: #dadce1;
  --nav-size:60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

.images{
  width: 100%;
  height: auto;
}

.propIcon{
  width: 100%;
  height: auto;
}

.linkedin{
  width: 180%;
  height: auto;
}

.github{
  width: 120%;
  height: auto;
}

.linktree{
  width: 130%;
  height: auto;
}

.resume{
  width: 120%;
  height: auto;
}

.HomeIMG{
  width: 120%;
  height: auto;
}


/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
}

nav{
  display: flex;
  margin: 0px;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #3535ce;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}


.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  margin-left: 200px;

  @media (max-width:768px) {
    margin-left: 100px;
    border: none;
  }

  @media (max-width:520px) {
    margin-left: 90px;
    padding: 0;
    border: none;
    margin-top: 30px;
  }
}

.menu {
  width: 100%;
}



.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.pages{
  width: 110%;
}

.resumeProp{
  width: 120%;
}
