.Footer{
    width: 95%;
    margin: 0 auto;

}

.LogoSide{
    width: 30%;
}

.Footer{
  background-color: #190061;
  height: 500px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.mainFooter{
    display: flex;
    flex-direction:row ;
    width: 80%;
    justify-content: space-evenly;

    @media (max-width: 768px) {
      width: 80%;
      display: flex;
      flex-direction: row;
      gap: 100px;
      margin-left: 85px;
    }
    @media (max-width:520px){
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 60px;
    }
}

.footerLogo{
    width: 85%;
    height: auto;
    margin-top: 20px;

    @media (max-width: 768px) {
      
      width: 200px;

    }
    @media(max-width:520px){
      width: 180px;
    }

}

.legalRights{
    font-size: 1.6vh;
    opacity: 80%;
    margin-top: 9px;
    @media(max-width:520px){
     font-size: 1.4vh;;
    }
}

.bold{
font-size: 1.6vh;
font-weight: 700;
@media(max-width:520px){
  font-size: 1.4vh;;
 }
}

.madeBy{
    font-size: 1.6vh;
    margin-top: 7px;
    @media(max-width:520px){
      font-size: 1.4vh;;
     }
}

.pageTitle{
    text-decoration: underline;
    font-size: 1.85vh;
    font-family: 'Audiowide';
}

.redirectColumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.redirectText{
    font-size: 1.85vh;
    color: white;
    font-family: 'Days One';

}

.redirectText{

    font-size: 1.85vh;
    color: white;
    --b: 0.1em;   /* the thickness of the line */
    --c: #33b4df; /* the color */
    

    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,rgb(255, 254, 254) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .5s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .button:hover {
    --_p: 100%;
    --_s: .3s;
  }



  @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
  }


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  
  &.new-learn-more {
    width: 12rem;
    height: auto;
    
    @media (max-width: 768px) {
      width: 14rem !important;
    }
    
    .new-circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: blue;
      border-radius: 1.625rem;
      
      @media (max-width: 768px) {
        width: 2.5rem;
        height: 2.5rem;
        }
      .new-icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: blue;
        
        &.new-arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
            @media (max-width: 768px) {
              right: 0.225rem;
              }
          }
        }
      }
    }
    
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: white;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      font-family: "Days One";


    }
  }
  
  &:hover {
    .new-circle {
      width: 100%;
      
      .new-icon {
        &.new-arrow {
          background: white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}

#newContactContainer {
  grid-area: main;
  align-self: center;
  justify-self: center;
}

.redirectText:hover {
  --_p: 100%;
  color: var(--c);
}

.new-contactText {
  @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0;
  margin-left: 40px;
  color: white;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.75vh;
  text-decoration: underline;
  font-family: 'Days One';

  @media (max-width:786px){
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    padding: 0rem 0;
    margin-left: 0px;
    font-size: 1.65vh;
    line-height: 2.1;
    text-align: center;
    font-weight: 600;
  }

  @media (max-width:520px) {
        font-size: 2vh;
        line-height: 3;
  }
}


      .connectingtext{
        width: 100px;
      }

      .Text{
        margin-bottom: 30px;
        text-decoration: underline;
        font-size: 1.85vh;
        font-family: 'Audiowide';
        @media (max-width:786px){
          font-size: 1.85vh;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .SocialSide{
        width: 100;
      }